@font-face { font-family: CursedTimerUlil; 
    src: url('CursedTimerUlil-Aznm.ttf'); }

body {
    margin: 0;
    font-family: 'Segoe UI';
    text-align: center;
    color: white;
   
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #19244d;
    width: 99vw;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    align-items: stretch;
    flex-flow: row wrap;
    height: 274px;
}

.section {
    flex: 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.row {
    width: 70%;
}

.res{
    border-radius: 10px;
    background-color: #0a0001;
}


h3 {
    
    font-size: 20px;
    line-height: 5px;
}
#home-result, #guest-result{
    font-family: 'CursedTimerUlil';
    font-size: 50px;
    color: rgb(212, 67, 67);
}

.title{
    height: 30px;
}

.bat > button{
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    background: transparent; 
}

#reset {
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    background: transparent; 
}